@font-face {
    font-family: BTitr;
    src: url(/Titr.ttf);
}
@font-face {
    font-family: Bnazanin;
    src: url(/B-NAZANIN.TTF);
}
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    
}
ul{
    list-style: none;
}
a , a:visited {
    text-decoration: none;
    color:whitesmoke;
}

/*---------------------navbar------------------------*/

.container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 80px;
    background:#0D00A3;
}
#Unilogo{
    width: 85px;
    height: 80px;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    display: none;
    top: 0px;
    right: 20px;
    width: 40px;
}
.navList{
    margin-left: auto;
    display: flex;
    padding: 25px;
}
.navList li{
    padding: 0px 33px;
    font-family: Bnazanin;
}

/*-------------------main body----------------------*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    flex-wrap: wrap;
    padding-top: 135px;
    padding-bottom: 135px;
    padding-left: 170px;
    padding-right: 170px;
}
.Unipic{
    flex: 1;
    padding-right: 47px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.uniform{
    flex: 1;
    padding-left: 47px;
    padding-top: 74px;
}
.Unipic img{
    align-items: center;
    width: 553px;
    height: 349px;
    border-radius: 20px;
    box-shadow: -18px 18px 15px 0px rgba(0, 0, 0, 0.25);
}
.uniform h1{
    text-align: center;
    color: #0D00A3;
    font-family:BTitr;
    font-size: 40px;
    font-weight: 700;
}
.uniform p{
    color: #565656;
    font-family:Bnazanin;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.btn{
    display: flex;
    justify-content: center;
}
.btn-te{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    margin-left: 32.5px;
    margin-top: 90px;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    background: #0D00A3;
    box-shadow: -8px 8px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in;

}
.btn-te:hover{
    background:#09006a;
}
.btn-te a{
    text-decoration: none;
    color:aliceblue;
    font-family: Bnazanin;
    font-weight: bolder;
}

.btn-stu{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    margin-right: 32px;
    margin-top: 90px;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    background: #0D00A3;
    box-shadow: -8px 8px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in;
}
.btn-stu:hover{
    background:#09006a;
}
.btn-stu a {
    text-decoration: none;
    color:aliceblue;
    font-family: Bnazanin;
    font-weight: bolder;
}
/*----------------------------about-----------------------------*/
.about{
    background:#0D00A3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    direction: rtl;
}
.aboutText{
    width: 50%;
    margin: 100px 130px;
}
.aboutText > h1{
    font-family: BTitr;
    font-size: 1.8em ;
    color: #ffffff;
}
.aboutText > p{
    font-family: Bnazanin;
    color: #ffffff;
}
.aboutPics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutPics > img{
    width: 90%;
    margin: 20px 0;
    border-radius: 50px;
    box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
/*------------------------fildes---------------------------*/

.fildes{
    margin-top: 50px;
    max-width: 1120px;
    width: 100%;
    height: 500px;
    text-align: center;
}
.fildes > h1{
    font-family: BTitr;
    font-size: 2em;
    color: #0D00A3;
}
.slide-content{
    max-width: 950px;
    width: 100%;
}
.boxes{
    display: flex;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 300px;
    border-radius:25px;
    background: #F00;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.box.even{
    background: #0D00A3;
}
.box > img{
    margin: 25px 92px 10px 25px;
    width: 80%;
    height: 200px;
    border-radius:25px;
}
.box > h3{
    font-family: BTitr;
    font-weight: 400;
    font-size: 33px;
    margin-bottom: 15px;
    color:white ;
}
/*-----------------------------FAQ----------------------------*/
.questions{
    width: 100%;
    height: auto;
    background-color: #0D00A3;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions > h1{
    font-size: 35px;
    font-family: BTitr;
    text-align: center;
    color: #ffffff;
    margin: 20px;
}
.faq-container{
    text-align: right;
    max-width: 750px;
    width: 100%;
}
.faq{
    display: flex;
    direction: rtl;
    margin: 18px 0;
}
.QandA{
    display: flex;
    flex-direction: column;
    width:570px;
    height: fit-content;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 0 30px;
}
.QandA > h4{
    font-size: 30px;
    font-family: Bnazanin;
    font-weight: 300;
    color: #0D00A3;
    margin: 5px 0;
}
.QandA > p{
    font-family: Bnazanin;
    color: #4137aad6;
    padding: 0 10px;
    display: none;
}
.faq.open  p{
    display: block;
}
.plus-icon{
    width: 50px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.bi-plus{
    font-size: larger;
    color: #0D00A3;
}
.bi-dash{
    font-size: larger;
    color: #ff0000;
}
ul{
    font-family: Bnazanin;
    list-style-type: circle;
    font-size: 18px;
    font-weight: 100;
    color: #4137aad6;
    padding: 0 10px;
    display: none;
}
.faq.open ul{
    display: block;
}
/*----------------------------Footer-----------------------------------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: right;
    font-family: Bnazanin;
    background: #E9E7FF;
}
.peyvand{
    min-width: 200px;
    margin: 10px;
    margin-left: 20px;
}
.contact{
    max-width:350px;
    margin: 10px;
    margin-left: auto;
}
.peyvand > .line {
    background-color:black;
    height: 1.5px;
}
.contact > .line{
    background-color:black;
    height: 1.5px;
}
.peyvand > h2 , .contact > h2{
    font-size: 1.2em;
}
.peyvand > h4 , .contact > h4{
    margin-top: 5px ;
    font-size: 15px;
}
.logo > img{
    width:135px;
    height: 210px;
}

@media only screen and (max-width:850px){
    /*-----------------navbar--------------------*/
    .menu-btn{
        padding-top: 8px;
        width: fit-content;
        height: fit-content;
        display: block;
        opacity: 1;
    }
    .container{
        padding: 0%;
    }
    #Unilogo{
        position: absolute;
    }
    .navList{
        padding-top: 75px;
        flex-direction: column;
        width: 100%;
        height: 85.6vh;
        align-items:center;
        background :#405d9d;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .navList li{
        padding: 25px;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-left-radius: 30%;

    }
    /*-----------------main body------------------*/
    .head{
        width: 100%;
        background: url(./PIC/university.jpg);
        top: 80px;
        bottom: 75px;
    }
    .head{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
    .Unipic{
        display: none;
        width: 0%;
    }
    .uniform{
        padding: 0px 0px;
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.80);
        max-width: 500px;
        min-width: 200px;
        width: 100%;
        height: 200px;
        margin: 0 10px;
    }
    .uniform h1{
        padding: 10px;
        font-size: 30px;
    }
    .uniform p{
        font-size: 18px;
        padding: 0px 10px;
    }
    .btn-stu{
    background: #ffffff;
    }
    .btn-stu a {
        text-decoration: none;
        color:#0D00A3;
        font-family: Bnazanin;
        font-weight: bolder;
    }
    .btn-stu:hover{
        background-color: #a9c2f9;
    }
    .btn-te{
        background: #ffffff;
    }
    .btn-te a {
        text-decoration: none;
        color:#0D00A3;
        font-family: Bnazanin;
        font-weight: bolder;
    } 
    .btn-te:hover{
        background-color: #a9c2f9;
    }       
/*----------------------------about-----------------------------*/
    .about{
        display: flex;
        justify-content: center;
    }
    .aboutPics{
        display: none;
    }
    .aboutPics > img{
        display: none;
    }
    .aboutText{
        width: 80%;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .aboutText > h1{
        font-size: 1.3em ;
        margin-bottom: 15px;
    }
    .aboutText > p{
        font-size: 18px;
    }
/*-------------------------------fildes-----------------------------------*/
    .fildes{
        height: 400px;
    }
    .box{
        width: 150px;
        display: flex;
    }
    .box > img{
        margin: 20px 0;
        width: 70%;
        height: 150px;
        border-radius:25px;
    }
    .box > h3{
        font-size: 25px;
    }
    .fildes  h1{
        font-size: 1.5em;
    }
/*-------------------------------------FAQ--------------------------------*/
    .questions > h1{
        font-size: 1.5em;
    }
    .faq{
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .plus-icon{
        height:45px;
    }
    footer .logo{
        display: none;
    }   
     
}